# Byte-compiled / cache
__pycache__/
*.py[cod]
*.pyo
*.pyd

# Virtual environment
venv/
ENV/
env/

# Editor/IDE stuff
.vscode/
.idea/
*.swp
*.swo

# Jupyter Notebook checkpoints (if any)
.ipynb_checkpoints/

# OS stuff
.DS_Store
Thumbs.db

# Logs or temp files
*.log
*.tmp
